spring.application.name=share_recycled_stuff
server.port=8080

spring.datasource.url=jdbc:mysql://localhost:3306/database-name
spring.datasource.username=username
spring.datasource.password=password
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver

spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQLDialect

spring.jpa.open-in-view=false

spring.mail.host=smtp.gmail.com
spring.mail.port=587
spring.mail.username=your_Email
spring.mail.password= password ( use App password to get)
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true

app.verification.base-url=http://localhost:8080/api/auth/verify?token= ("here is a example, you can change this url")

spring.messages.basename=messages
spring.messages.encoding=UTF-8

jwt.secret=yourSecretKey
jwt.access-token-expiration=3600000
jwt.refresh-token-expiration=604800000

vnpay.pay-url=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
vnpay.return-url=http://localhost:8080/api/payment/transaction
vnpay.tmn-code=yourTmnCode
vnpay.secret-key=yourSecretKey
vnpay.api-url=https://sandbox.vnpayment.vn/merchant_webapi/api/transaction
vnpay.version=2.1.0
vnpay.command=pay
